<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Quyền camera -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Khai báo camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="FaceAttendance"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaceAttendance">

        <!-- ① LoginActivity là màn hình đầu tiên khi mở app -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- ② Chọn lớp học -->
        <activity android:name=".ClassSelectionActivity"/>

        <!-- ③ Màn hình điểm danh chính (không còn là launcher) -->
        <activity android:name=".MainActivity"/>

        <activity android:name=".HistoryActivity"/>
        <activity android:name=".StudentListActivity"/>
        <activity android:name=".RegisterActivity"/>

    </application>

</manifest>